<mat-card class="card">
  <a id="logo" href="/"><img mat-card-image src="assets/images/logo.png" class="image" alt="logo" /></a>
  <mat-card-header ngClass="container content">
    <mat-card-title class="card--title">{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="container">   
    <app-shared-form-group [formFields]="formFields.inputs" [value]="'Register'" [authForm]="authForm"></app-shared-form-group>
  </mat-card-content>
  <mat-card-actions ngClass="container">
    <p>Already have an account? Login <a [routerLink]="['/login']">here</a></p>
  </mat-card-actions>
</mat-card>
