backend-api/RiftARENA/appsettings.json
backend-api/RiftARENA/bin/Debug/net5.0/RiftARENA.dll
backend-api/RiftARENA/bin/Debug/net5.0/RiftARENA.pdb
backend-api/RiftARENA/bin/Debug/net5.0/ref/RiftARENA.dll
backend-api/RiftARENA/obj/project.assets.json
backend-api/RiftARENA/obj/project.nuget.cache
backend-api/RiftARENA/obj/RiftARENA.csproj.nuget.dgspec.json
backend-api/RiftARENA/obj/RiftARENA.csproj.nuget.g.props
backend-api/RiftARENA/obj/RiftARENA.csproj.nuget.g.targets
backend-api/RiftARENA/obj/Debug/net5.0/RiftARENA.assets.cache
backend-api/RiftARENA/obj/Debug/net5.0/RiftARENA.csproj.AssemblyReference.cache
backend-api/RiftARENA/obj/Debug/net5.0/RiftARENA.csproj.CoreCompileInputs.cache
backend-api/RiftARENA/obj/Debug/net5.0/RiftARENA.csproj.FileListAbsolute.txt
backend-api/RiftARENA/obj/Debug/net5.0/RiftARENA.dll
backend-api/RiftARENA/obj/Debug/net5.0/RiftARENA.GeneratedMSBuildEditorConfig.editorconfig
backend-api/RiftARENA/obj/Debug/net5.0/RiftARENA.genruntimeconfig.cache
backend-api/RiftARENA/obj/Debug/net5.0/RiftARENA.pdb
backend-api/RiftARENA/obj/Debug/net5.0/ref/RiftARENA.dll
