<app-nav-bar></app-nav-bar>
<section>
    <h1 ngClass="title">Requests</h1>
    <p ngClass="error">* You can only accept one request</p>
    <div class="request-table">
    <mat-form-field appearance="standard">
        <mat-label>Filter</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Tag, Team Tag" #input>
      </mat-form-field>

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <ng-container *ngFor="let column of columns" [matColumnDef]="column.columnDef">
          <!-- Checkbox Column -->
        <ng-container *ngIf="column.columnDef == 'select'">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggle() : null"
                          [checked]="selection.hasValue() && isAllSelected()"
                          [indeterminate]="selection.hasValue() && !isAllSelected()"
                          [aria-label]="checkboxLabel()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? selection.toggle(row) : null"
                          [checked]="selection.isSelected(row)"
                          [aria-label]="checkboxLabel(row)">
            </mat-checkbox>
          </td>
        </ng-container>
          <th mat-header-cell *matHeaderCellDef>
            {{column.header + ":" }}
          </th>
          <td mat-cell *matCellDef="let row">
            <!-- <ng-container *ngIf="column.columnDef != 'select'"> -->
              {{column?.cell(row)}}
            <!-- </ng-container> -->
          </td>
        </ng-container>

        <!-- <ng-container matColumnDef="{{displayedColumns[0]}}">
          <th mat-header-cell *matHeaderCellDef>{{ getTitle(displayedColumns[0]) + ':' }}</th>
          <td rowspan="2" *matCellDef="let element">
            <mat-radio-group aria-label="Select an option">
              <mat-radio-button value="{{displayedColumns[0]}}">{{element[displayedColumns[0]]}}</mat-radio-button>
            </mat-radio-group>
          </td>
        </ng-container>

        <ng-container matColumnDef="{{displayedColumns[1]}}">
          <th mat-header-cell *matHeaderCellDef>{{ getTitle(displayedColumns[1]) + ':' }}</th>
          <td *matCellDef="let element">{{element[displayedColumns[1]]}}</td>
        </ng-container>

        <ng-container matColumnDef="{{displayedColumns[2]}}">
          <th mat-header-cell *matHeaderCellDef>{{ getTitle(displayedColumns[2]) + ':' }}</th>
          <td *matCellDef="let element">{{element[displayedColumns[2]]}}</td>
        </ng-container>

        <ng-container matColumnDef="{{displayedColumns[3]}}">
          <th mat-header-cell *matHeaderCellDef>{{ getTitle(displayedColumns[3]) + ':' }}</th>
          <td *matCellDef="let element">{{element[displayedColumns[3]]}}</td>
        </ng-container> -->

        <!-- <ng-container *ngFor="let data of displayedColumns">
          <ng-container *ngIf="getTitle(data) != 'Tag'">
            <ng-container matColumnDef="{{data}}">
              <th mat-header-cell *matHeaderCellDef>{{ getTitle(data) + ':' }}</th>
              <td *matCellDef="let element">{{element[data]}}</td>
            </ng-container>
          </ng-container>
        </ng-container> -->

        <!-- <ng-container *ngFor="let data of displayedColumns"> -->
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          (click)="selection.toggle(row)">
        <!-- </ng-container> -->

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No requests matching the filter</td>
        </tr>
      </table>
    </div>

      <mat-accordion class="example-headers-align">
        <mat-expansion-panel hideToggle *ngFor="let request of requests" (opened)="panelOpenState = true"
        (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ '#' + request.team.tag }}
            </mat-panel-title>
            <mat-panel-description>
              <mat-icon>{{panelOpenState ? 'remove' : 'add'}}</mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <ng-container class="accordion-content" *ngFor="let column of columnsMobile">
            <!-- <ng-container *ngIf="column.columnDef != 'select' and column.columnDef != 'tag'"> -->
              <p><strong>{{getTitle(column.columnDef) + ':'}}</strong> {{ getColumn(column.columnDef) }} </p>
            <!-- </ng-container> -->
          </ng-container>
        </mat-expansion-panel>

      </mat-accordion>

      <p><strong>Total Requests:</strong> {{getRequestSize()}}</p>

      <button mat-flat-button class="btn-blue">Save</button>
      <button mat-flat-button class="btn-blue">Cancel</button>
</section>