section {
    padding: 0 20px;
}

table {
    width: 80%;
    border: 2px solid #DF711F;
    margin-bottom: 15px;
}

th.mat-header-cell {
    text-align: center;
    color: #DF711F;
    font-weight: bold;
}

td, td.mat-cell {
    text-align: center;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-header-cell {
    background-color: #FDCAA4;
}

.error {
    color: red;
    font-size: 12px;
    font-style: italic;
}

.title {
   color: #24499A;
   font-variant: small-caps;
}

button {
    width: 100px;
    margin-right: 10px;
    border-radius: 5px;
    color: #24499A;
    font-weight: bold;
    background-color: #8EB0FC;
    border: 2px solid #24499A;
}

.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.mat-expansion-panel-header-description {
    flex-grow: 0;
    margin-right: 0;
}

.example-headers-align {
  display: none;
}

.request-table {
    display: block;
}

.example-headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-expansion-panel-header-title {
    margin-right: 0;
    justify-content: center;
}

.mat-expansion-panel {
    border: 2px solid #DF711F;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

@media only screen and (max-width: 768px) {
    table {
        width: 100%;
    }
}

@media only screen and (max-width: 600px) {
    .mat-expansion-panel {
        box-shadow: none;
    }

    .mat-accordion .mat-expansion-panel:first-of-type {
        background: rgba(253, 202, 164, 1);
        margin-bottom: 3px;
    }

    .mat-expansion-panel-header, .mat-expansion-panel-header:focus, .mat-expansion-panel:not(.mat-expanded) .mat-expansion-panel-header:hover:not([aria-disabled=true])  {
        background: rgba(253, 202, 164, 1);
        /* border-bottom: 2px solid #DF711F; */
    }

    .mat-expansion-panel-header.mat-expanded:focus, .mat-expansion-panel-header.mat-expanded:hover {
        background: rgba(253, 202, 164, 1);
    }

    .mat-expansion-panel-header-title {
        text-transform: uppercase;
        font-weight: bold;
        color: #DF711F;
    }

    .mat-expansion-panel-header-description .mat-icon {
        color: #DF711F;
    }

    .example-headers-align {
        display: block;
        margin-bottom: 15px;
    }

    .request-table {
        display: none;
    }    
}