<app-nav-bar></app-nav-bar>
<div
  class="container-fluid d-flex justify-content-center gap-3 row main-container"
  *ngIf="
    firstTeam != undefined ||
    teams != undefined ||
    firstTourney != undefined ||
    tourneys != undefined
  "
>
  <div *ngIf="firstTeam != undefined">
    <p class="fs-4 text-center mt-5">Top Teams</p>
    <div class="row d-flex justify-content-center">
      <div
        class="container d-flex justify-content-center row gap-3"
        style="text-align: center"
      >
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <p class="card-text">
              {{ firstTeam?.tag }}
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="font-weight: bold">
              Name:

              <a style="font-weight: normal">{{ firstTeam?.name }}</a>
            </li>
            <li class="list-group-item" style="font-weight: bold">
              Rank:

              <a style="font-weight: normal">{{ firstTeam?.rank }}</a>
            </li>
            <li class="list-group-item" style="font-weight: bold">
              Members:

              <a style="font-weight: normal">{{ firstTeam?.numberMembers }}</a>
            </li>
            <li class="list-group-item" style="font-weight: bold">
              Tournaments Won:

              <a style="font-weight: normal"
                >{{ firstTeam?.tournamentsWon }}%</a
              >
            </li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">View More</a>
          </div>
        </div>
        <div
          class="card"
          style="width: 18rem"
          *ngFor="let team of teams | slice: 0:2; let i = index"
        >
          <div class="card-body">
            <p class="card-text">
              {{ team.tag }}
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="font-weight: bold">
              Name:

              <a style="font-weight: normal">{{ team.name }}</a>
            </li>
            <li class="list-group-item" style="font-weight: bold">
              Rank:

              <a style="font-weight: normal">{{ team.rank }}</a>
            </li>
            <li class="list-group-item" style="font-weight: bold">
              Members:

              <a style="font-weight: normal">{{ team.numberMembers }}</a>
            </li>
            <li class="list-group-item" style="font-weight: bold">
              tournamentsWon:

              <a style="font-weight: normal">{{ team.tournamentsWon }}%</a>
            </li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">View More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sd-2 d-flex justify-content-center mb-4">
      <button class="btn btn-blue btn-block inline" type="button">
        View All
      </button>
    </div>
  </div>
  <div *ngIf="firstTourney != undefined">
    <p class="fs-4 text-center mt-5">Top Tournaments</p>
    <div class="row d-flex justify-content-center">
      <div
        class="container d-flex justify-content-center row gap-3"
        style="text-align: center"
      >
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <p class="card-text">
              {{ firstTourney?.name }}
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="font-weight: bold">
              Teams:

              <a style="font-weight: normal">{{
                firstTourney?.numberOfTeams
              }}</a>
            </li>
            <li class="list-group-item" style="font-weight: bold">
              Rank:

              <a style="font-weight: normal">{{ firstTourney?.rank }}</a>
            </li>
            <li class="list-group-item" style="font-weight: bold">
              Date:

              <a style="font-weight: normal">{{ firstTourney?.date }}</a>
            </li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">View More</a>
          </div>
        </div>
        <div
          class="card"
          style="width: 18rem"
          *ngFor="let tourney of tourneys | slice: 0:2; let i = index"
        >
          <div class="card-body">
            <p class="card-text">
              {{ tourney.name }}
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item" style="font-weight: bold">
              Teams:

              <a style="font-weight: normal">{{ tourney.numberOfTeams }}</a>
            </li>
            <li class="list-group-item" style="font-weight: bold">
              Rank:

              <a style="font-weight: normal">{{ tourney.rank }}</a>
            </li>
            <li class="list-group-item" style="font-weight: bold">
              Date:

              <a style="font-weight: normal">{{ tourney.date }}</a>
            </li>
          </ul>
          <div class="card-body">
            <a href="#" class="card-link">View More</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sd-2 d-flex justify-content-center mb-4">
      <button class="btn btn-blue btn-block inline mt-1" type="button">
        View All
      </button>
    </div>
  </div>
</div>
<h1 style="text-align: center" *ngIf="noInfo == true">
  Sem informação no momento.
</h1>
<div
  *ngIf="
    firstTeam == (null || undefined) && firstTourney == (null || undefined)
  "
>
  <mat-progress-spinner
    style="
      position: fixed;
      z-index: 999;
      overflow: show;
      margin: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    "
    [mode]="'indeterminate'"
    *ngIf="loading | async"
  ></mat-progress-spinner>
</div>
