.example-container {
    min-height: 55px;
    max-height: 250px;
    width: 50%;
    overflow-y:scroll;
    border: 1px solid black;
}

td:first-child {
  border-right: 1px solid black;
}

table, td {
  padding: 10px 15px;
}

table {
  width: 100%;
}

.item h1,
.item p {
  margin: 12px 0;
}

.profile-container {
  display: flex;
  width: 40%;
  background-color: #dddbdb;
  justify-content: center;
  padding: 20px 10px;
  flex-wrap: wrap;
  margin: auto;
  border-radius: 10px;
}

.profile-container .mat-icon {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-size: 120px;
}

.profile-container p {
  font-size: 12px;
  margin-bottom: 0;
}

.parallax-team {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-height: 80%;
  min-height: max-content;
  /* background-image: url("assets/images/image_placeholder.png"); */
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 80%;
  opacity: 0.65;
  margin-bottom: 1.5rem;
  display: flex; */
}

section.caption {
  position: absolute;
  width: 100%;
  padding: 30px 50px;
}

.none {
  position: relative;
  width: 100%;
  padding: 30px 50px 0px 50px;
}

.caption .head,
.none .head {
  flex-direction: row;
  display: flex;
}

.details {
  padding-top: 25px;
}

.bg-image {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  opacity: 0.65;
}

.content, .staricon {
  opacity: 1;
}

/* .caption {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
} */

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  gap: 25px;
  flex-direction: row;
  justify-content: center;
}

.container div p {
    font-size: 24px;
}

section {
  padding: 0 50px;
}

.content {
  display: flex;
}

.content div:first-child {
  width: auto;
}

.content div {
  text-align: left;
}

.rank {
  margin-left: 20px;
}

.staricon,
.content {
  width: 50%;
}

.staricon {
  text-align: end;
}

.rank-icon {
  width: 75px;
  text-align: center;
}

.rank-icon .mat-icon {
  width: auto;
  height: auto;
  font-size: 48px;
}

.mat-icon {
  width: auto;
  height: auto;
  text-align: center;
  font-size: 40px;
}

.subtitle {
  font-size: 20px;
  margin: 25px 0;
}

.request {
  margin-top: 20px;
}

.icon {
  width: 80px;
  height: auto;
}

.item {
  align-items: center;
  display: flex;
  margin: auto;
}

.item:last-child .mat-icon {
  font-size: 24px;
}

.mat-form-field {
  width: 80%;
}

.item .mat-icon {
  cursor: pointer;
  padding-left: 8px;
  align-content: center;
}

.item .mat-icon:hover {
  color: #24499A;
}

.form-size {
  padding: 0 20px;
  margin: 20px 0;
  text-align: center;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    gap: 15px;
  }

  .container div {
    text-align: center;
  }

  section.caption {
    flex-direction: column;
  }
  section.caption div {
    width: 100%;
  }

  section.caption .staricon {
    text-align: left;
  }

  .example-container {
    width: 100%;
}
}