@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

.dropdown-item:hover {
  background-color: #234a95 !important;
  color: white !important;
}

.mat-h3,
.mat-typography h3 {
  font: 800 xx-large/32px "Montserrat", sans-serif;
}

.mat-h1,
.mat-headline,
.mat-typography h1 {
  font: 800 xx-large/32px "Montserrat", sans-serif;
}

* {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

app-shared-form-group .btn-blue {
  background-color: #234a95;
  color: white;
}

.btn-blue:hover {
  background-color: #20458a;
  color: white;
  white-space: normal !important;
  word-wrap: break-word;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #234a95;
}
.mat-radio-group {
  margin-bottom: 16px;
}

.mat-radio-button {
  margin-bottom: 4px;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #234a95 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: #234a95 !important;
}
.mat-expansion-panel-body {
  padding: 16px 24px 16px !important;
  background-color: #fff;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.editIcon {
  width: auto;
  height: auto;
}

/**
* view-my-team.css
* view-team.css
*/

.example-container {
  min-height: 55px;
  max-height: 250px;
  width: 40%;
  overflow-y:scroll;
  border: 1px solid black;
}

td:first-child {
  border-right: 1px solid black;
}

table, td {
  padding: 10px 15px;
}

td button {
  margin: 5px 0;
  width: 150px;
}

td:last-child {
  text-align: end;
}

table {
  width: 100%;
}

.item h1,
.item p {
  margin: 12px 0;
}

.deleteButton {
  margin-top: 10px;
}

.profile-container {
  display: flex;
  width: auto;
  background-color: #dddbdb;
  justify-content: center;
  padding: 20px 10px;
  flex-wrap: wrap;
  margin: auto;
  border-radius: 10px;
  flex-direction: column;
}

.profile-container .mat-icon {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-size: 120px;
}

.profile-container p {
  text-align: center;
  font-size: 12px;
  margin-bottom: 0;
}

.parallax-team {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-height: 80%;
  min-height: max-content;
}

section.caption {
  position: absolute;
  width: 100%;
  padding: 30px 50px;
}

.none {
  position: relative;
  width: 100%;
  padding: 30px 50px 0 50px;
}

.caption .head,
.none .head {
  flex-direction: row;
  display: flex;
}

.details {
  padding-top: 25px;
}

.bg-image {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  opacity: 0.4;
}

.content, .staricon {
  opacity: 1;
}

/* .caption {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
} */

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  gap: 25px;
  flex-direction: row;
  justify-content: center;
}

.team--section {
  padding: 20px 25px;
}

.container div p {
  font-size: 24px;
}

section {
  padding: 0 50px;
}

.content {
  display: flex;
}

.content div:first-child {
  width: auto;
}

.content div {
  text-align: left;
}

.rank {
  margin-left: 20px;
}

.staricon,
.content {
  width: 50%;
}

.staricon {
  text-align: end;
}

.rank-icon {
  width: 75px;
  text-align: center;
}

.rank-icon .mat-icon {
  width: auto;
  height: auto;
  font-size: 48px;
}

.card--title {
  text-align: center;
}

.image {
  margin: auto;
  width: 70%;
  height: auto;
}

.mat-icon {
  width: auto;
  height: auto;
  text-align: center;
}

.btn-red {
  color: #fff;
  background-color: red;
}

.subtitle {
  font-size: 20px;
  margin: 25px 0;
}

.request {
  margin-top: 20px;
}

.icon {
  width: 80px;
  height: auto;
}

.item {
  align-items: center;
  display: flex;
  margin: auto;
}

.item:last-child .mat-icon {
  font-size: 24px;
}

.mat-form-field {
  width: 80%;
}

.item .mat-icon {
  cursor: pointer;
  padding-left: 8px;
  align-content: center;
}

.item .mat-icon:hover {
  color: #24499A;
}

.form-size {
  padding: 0 20px;
  margin: 20px 0;
  text-align: center;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  .profile-container {
    display: flex;
    width: 40%;
    background-color: #dddbdb;
    justify-content: center;
    padding: 20px 10px;
    flex-wrap: wrap;
    margin: auto;
    border-radius: 10px;
    flex-direction: column;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    gap: 15px;
  }

  td button {
    margin: 5px 0;
    width: 150px;
  }

  .container div {
    text-align: center;
  }

  .caption .head,
  .none .head {
    flex-direction: column;
  }

  .content {
    flex-wrap: wrap;
  }

  .content div.rank {
    margin: auto;
  }

  .icon {
    width: 65px;
  }

  .staricon,
  .content {
    width: 100%;
  }

  .staricon {
    text-align: left;
  }

  .example-container {
    width: 100%;
  }
}
