
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap");

.dropdown-item:hover {
  background-color: #234a95;
  color: white;
}

.mat-h3, .mat-typography h3 {
  font: 800 xx-large/32px "Montserrat", sans-serif;
}

.mat-h1, .mat-headline, .mat-typography h1 {
  font: 800 xx-large/32px "Montserrat", sans-serif;
}

* {
  font-family: "Montserrat", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

.btn-blue {
  background-color: #234a95;
  color: white;
}

.btn-blue:hover {
  background-color: #20458a;
  color: white;
  white-space: normal !important;
  word-wrap: break-word;
}

.mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #20458a;
}