<app-nav-bar></app-nav-bar>
<section>
  <h3>User Profile</h3>
  <!-- ng <button mat-flat-button class="btn-red" type="button" (click)="removeUser()">Delete Profile</button> -->
  <div [ngClass]="'container'">
    <div>
      @if (user().poster) {
        <img
          ngSrc="{{ createImgPath(user().poster!) }}"
          class="profileImg"
          alt="account circle icon"
          fill
        />
      } @else {
        <mat-icon aria-hidden="false" aria-label="account circle icon" matSuffix>
          account_circle
        </mat-icon>
      }
    </div>

    <div>
      <app-upload
        [title]="changeTitle(user().poster)"
        [userObj]="user()"
        [(getUser)]="user"
        (onUploadFinished)="uploadFinished($event)"
      ></app-upload>
      <p>
        {{ getFileName() }}
      </p>
    </div>
  </div>
</section>
<section>
  <div [ngClass]="'item'">
    <p [ngClass]="'subtitle'">Nickname</p>
  </div>
  <p>{{ user().nickname ?? 'Loading profile...' }}</p>
  @for (input of formFields.inputs; track input.id) {
    <div>
      <div [ngClass]="'item'">
        <p [ngClass]="'subtitle'">{{ input.name }}</p>
        <mat-icon
          (click)="clickEvent(input.name)"
          aria-hidden="false"
          aria-label="edit icon"
          matSuffix
          style="width: auto; height: auto; font-size: 24px"
        >
          edit
        </mat-icon>
      </div>

      @switch (flag) {
        @case ('edit-' + input.name) {
          <div [ngClass]="'form-size'">
            <app-shared-form-field
              [input]="input"
              [value]="'Submit'"
              [inputUser]="user()"
              [authForm]="form"
            ></app-shared-form-field>
          </div>
        }
        @default {
          <p>{{ getUserValue(input.name) }}</p>
        }
      }
    </div>
  }

  <div [ngClass]="'item'">
    <p [ngClass]="'subtitle'">Linked Account</p>
    <mat-icon
      (click)="clickAccount()"
      aria-hidden="false"
      matSuffix
      style="width: auto; height: auto; font-size: 24px"
      >{{ icon }}</mat-icon
    >
  </div>

  @switch (accountFlag) {
    @case ('edit') {
      <app-account-form-group
        [formFields]="accountFields.inputs"
        [value]="'Submit'"
        [(accountFlag)]="accountFlag"
      ></app-account-form-group>
    }
    @default {
      @if (account === undefined) {
        <p>No Linked Account</p>
      } @else {
        <ng-template>
          <p><strong>Username:</strong> {{ account.username }}</p>
          <p><strong>Region:</strong> {{ account.region }}</p>
          <p><strong>Rank:</strong> {{ account.rank }}</p>
          <p><strong>Summoner Level:</strong> {{ account.summonerLevel }}</p>
          @if (team == undefined) {
            <button mat-raised-button color="primary" type="submit" (click)="unlinkRiotAccount()">
              Unlink account
            </button>
          }
        </ng-template>
      }
    }
  }

  <div [ngClass]="'item'">
    <p [ngClass]="'subtitle'">Team</p>
  </div>
  <p>{{ getTeamName() }}</p>
</section>
