<app-nav-bar></app-nav-bar>
<section>
  <h3>User Profile</h3>
  <!-- ng <button mat-flat-button class="btn-red" type="button" (click)="removeUser()">Delete Profile</button> -->
  <div [ngClass]="'container'">
    <div>
      <img *ngIf="user?.poster != undefined"
        src="{{ createImgPath(user?.poster!) }}"
        class="profileImg"
        alt="account circle icon"/>
        <mat-icon *ngIf="user?.poster == undefined" aria-hidden="false" aria-label="account circle icon" matSuffix>account_circle</mat-icon>
      </div>
      
    <div>
      <app-upload [title]="changeTitle()" [getObj]="getUser()" [obj]="user" (onUploadFinished)="uploadFinished($event)"></app-upload>
      <p>
        {{ getFileName() }}
      </p>
    </div>
  </div>
</section>
<section>
  <div [ngClass]="'item'">
    <p [ngClass]="'subtitle'">Nickname</p>
  </div>
  <p>{{ user?.nickname }}</p>
  <div *ngFor="let input of formFields.inputs">
      <div [ngClass]="'item'">
        <p [ngClass]="'subtitle'">{{ input.name }}</p>
        <mat-icon (click)="clickEvent(input.name)" aria-hidden="false" aria-label="edit icon" matSuffix>
          edit
        </mat-icon>
      </div>
    <ng-container [ngSwitch]="flag">
      <div *ngSwitchCase="'edit-' + input.name" [ngClass]="'form-size'">
        <app-shared-form-field [input]="input" [value]="'Submit'" [obj]="user" [authForm]="form" [flag]="flag"></app-shared-form-field>
      </div>

      <ng-template [ngSwitchDefault]>
        <p>{{ getUserValue(input.name) }}</p>
      </ng-template>
    </ng-container>
  </div>

  <div [ngClass]="'item'">
    <p [ngClass]="'subtitle'">Linked Account</p>
    <mat-icon (click)="clickAccount()" aria-hidden="false" matSuffix>{{ icon }}</mat-icon>
  </div>

  <ng-container [ngSwitch]="accountFlag">
    <ng-template [ngSwitchCase]="'edit'">
      <!-- <form (ngSubmit)="onSubmitAccount()">
        <div *ngFor="let input of accountFields.inputs"> -->
          <app-account-form-group [formFields]="accountFields.inputs" [value]="'Submit'" [accountFlag]="accountFlag"></app-account-form-group>
        <!-- </div>
        <button mat-raised-button color="primary" type="submit">Submit</button>
      </form> -->
    </ng-template>

    <ng-template [ngSwitchDefault]>

      <ng-container [ngSwitch]="account">
        <ng-template [ngSwitchCase]="undefined">
          <p>{{ info }}</p>
        </ng-template>

        <ng-template [ngSwitchDefault]>
          <p><strong>Username:</strong> {{ info?.username }}</p>
          <p><strong>Region:</strong> {{ info?.region }}</p>
          <p><strong>Rank:</strong> {{ info?.rank }}</p>
          <p><strong>Summoner Level:</strong> {{ info?.summonerLevel }}</p>
          <button mat-raised-button color="primary" type="submit" (click)="unlinkRiotAccount()">Unlink account</button>
        </ng-template>
      </ng-container>

    </ng-template>
  </ng-container>

  <div [ngClass]="'item'">
    <p [ngClass]="'subtitle'">Team</p>
  </div>
  <p>{{ getTeamName() }}</p>
</section>
