<app-nav-bar></app-nav-bar>
<section>
  <h3>User Profile</h3>
  <!-- ng <button mat-flat-button class="btn-red" type="button" (click)="removeUser()">Delete Profile</button> -->
  <div [ngClass]="'container'">
    <div>
      <img *ngIf="user?.poster != undefined"
        src="{{ createImgPath(user?.poster!) }}"
        class="profileImg"
        alt="account circle icon"
      />
        <mat-icon *ngIf="user?.poster == undefined" aria-hidden="false" aria-label="account circle icon" matSuffix>account_circle</mat-icon>
      </div>

    <div>
      <app-upload [title]="changeTitle()" [getObj]="getUser()" [obj]="user" (onUploadFinished)="uploadFinished($event)"></app-upload>
      <p>
        {{ getFileName() }}
      </p>
    </div>
  </div>
</section>
<section>
  <div [ngClass]="'item'">
    <p [ngClass]="'subtitle'">Nickname</p>
  </div>
  <p>{{ user?.nickname }}</p>
  <div *ngFor="let input of formFields.inputs">
      <div [ngClass]="'item'">
        <p [ngClass]="'subtitle'">{{ input.name }}</p>
        <mat-icon (click)="clickEvent(input.name)" aria-hidden="false" aria-label="edit icon" matSuffix style="width: auto; height: auto; font-size: 24px">
          edit
        </mat-icon>
      </div>
    <ng-container [ngSwitch]="flag">
      <div *ngSwitchCase="'edit-' + input.name" [ngClass]="'form-size'">
        <app-shared-form-field [input]="input" [value]="'Submit'" [obj]="user" [authForm]="form" [flag]="flag"></app-shared-form-field>
      </div>

      <ng-container *ngSwitchDefault>
        <p>{{ getUserValue(input.name) }}</p>
      </ng-container>
    </ng-container>
  </div>

  <div [ngClass]="'item'">
    <p [ngClass]="'subtitle'">Linked Account</p>
    <mat-icon (click)="clickAccount()" aria-hidden="false" matSuffix style="width: auto; height: auto; font-size: 24px">{{ icon }}</mat-icon>
  </div>

  <ng-container [ngSwitch]="accountFlag">
    <ng-container *ngSwitchCase="'edit'">
      <app-account-form-group [formFields]="accountFields.inputs" [value]="'Submit'" [accountFlag]="accountFlag"></app-account-form-group>
    </ng-container>

    <ng-container *ngSwitchDefault>
      <p *ngIf="account === undefined; else elseBlock">No Linked Account</p>

      <ng-template #elseBlock>
        <p><strong>Username:</strong> {{ account?.username }}</p>
        <p><strong>Region:</strong> {{ account?.region }}</p>
        <p><strong>Rank:</strong> {{ account?.rank }}</p>
        <p><strong>Summoner Level:</strong> {{ account?.summonerLevel }}</p>
        <button *ngIf="team == undefined" mat-raised-button color="primary" type="submit" (click)="unlinkRiotAccount()">Unlink account</button>
      </ng-template>

    </ng-container>
  </ng-container>

  <div [ngClass]="'item'">
    <p [ngClass]="'subtitle'">Team</p>
  </div>
  <p>{{ getTeamName() }}</p>
</section>
