<nav class="navbar navbar-expand-lg navbar-light justify-content-center mb-4">
  <div class="container-fluid">
    <a class="navbar-brand" href="">
      <img src="assets/images/logo.png" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <!--if user is connected -->
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      *ngIf="user != undefined"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <div class="dropdown nav-item">
          <button
            class="btn dropdown-toggle nav-link"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Tournaments
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/view-all-tourneys">Visualize</a></li>
            <li><a class="dropdown-item" href="/create-tourney">Create</a></li>
            <li *ngIf="hasTeam == true"><a class="dropdown-item" href="/join-tournament">Join</a></li>
          </ul>
        </div>
        <div class="dropdown nav-item">
          <button
            class="btn dropdown-toggle nav-link"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Teams
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/view-all-teams">Visualize</a></li>
            <li *ngIf="hasTeam == false"><a class="dropdown-item" href="/create-team">Create</a></li>
          </ul>
        </div>
        <li class="nav-item">
          <a type="button" class="btn nav-link a-btn" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a type="button" class="btn nav-link a-btn" href="/requests">
            Requests <span class="badge badge-secondary">{{numberOfRequests}}</span>
          </a>
        </li>
        <li><hr class="dropdown-divider" /></li>
        <li class="nav-item d-xs-block d-lg-none d-xxl-none">
          <a class="nav-link" href="/profile">My Profile</a>
        </li>
        <li class="nav-item d-xs-block d-lg-none d-xxl-none">
          <a class="nav-link" href="#">My Tournaments</a>
        </li>
        <li *ngIf="hasTeam == true" class="nav-item d-xs-block d-lg-none d-xxl-none">
          <a class="nav-link" href="/view-team">My Team</a>
        </li>
        <li><hr class="dropdown-divider" /></li>
        <li class="nav-item d-xs-block d-lg-none d-xxl-none">
          <a class="nav-link" (click)="logout()" href="">Logout</a>
        </li>
      </ul>
      <div
        class="
          dropdown
          nav-item
          d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block
        "
      >

      <div id="usernameButton"
        data-bs-toggle="dropdown"
        aria-expanded="false"
        class="
          col-xs-3
          d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block btn dropdown-toggle username-btn
        "
      >
        {{user?.nickname}}
        <img
          src="{{toogleProfileIcon()}}"
          alt="Profile Picture"
          class="img-responsive"
          style="max-height: 50px; max-width: 50px"
        />
      </div>

        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/profile">My Profile</a></li>
          <li><a class="dropdown-item" href="/view-my-tourneys">My Tournaments</a></li>
          <li *ngIf="hasTeam == true"><a class="dropdown-item" href="/view-team">My Team</a></li>
          <li><a class="dropdown-item" (click)="logout()" href="">Logout</a></li>
        </ul>
      </div>
    </div>
    <!--if user isnt logged-->
    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      *ngIf="user == undefined"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <div class="dropdown nav-item">
          <button
            class="btn dropdown-toggle nav-link"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Tournaments
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/view-all-tourneys">Visualize</a></li>
          </ul>
        </div>
        <div class="dropdown nav-item">
          <button
            class="btn dropdown-toggle nav-link"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Teams
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="/view-all-teams">Visualize</a></li>
          </ul>
        </div>
        <li class="nav-item">
          <a type="button" class="btn nav-link a-btn" href="#">About Us</a>
        </li>
      
        <li><hr class="dropdown-divider" /></li>
        <li class="nav-item d-xs-block d-lg-none d-xxl-none">
          <a class="nav-link" href="/login">Login</a>
        </li>
        <li class="nav-item d-xs-block d-lg-none d-xxl-none">
          <a class="nav-link" href="/register">Register</a>
        </li>
      </ul>
      <div
        class="
          dropdown
          nav-item
          d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block
        "
      >
        <button
          class="btn dropdown-toggle username-btn"
          type="button"
          id="loginButton"
          aria-expanded="false"
          onclick="window.location.href='/login'"
        >
          Login
        </button>
      </div>
      <div
        class="
          dropdown
          nav-item
          d-none d-sm-block d-sm-none d-md-block d-md-none d-lg-block
        "
      >
        <button
          class="btn dropdown-toggle username-btn"
          type="button"
          id="registerButton"
          aria-expanded="false"
          onclick="window.location.href='/register'"
        >
          Register
        </button>
      </div>
    </div>
  </div>
</nav>
