.navbar-brand {
  width: 120px;
  height: 60px;
  text-align: left;
}

.navbar-brand img {
  height: 100%;
}

.dropdown-toggle::after {
  display: none;
}

button:focus {
  outline: none;
  box-shadow: none;
}

.dropdown-menu {
  right: 0;
  left: auto;
}

.username-btn{
  color: rgba(0,0,0,.55);
}

.badge {
  background-color: rgb(186, 39, 42)
}

.a-btn{
text-align: left;
}
.a-btn:focus{
  outline: none;
  box-shadow: none;
}

.img-responsive {
  margin-left: 15px;
}