<mat-card class="card main-mat-card">
  <img mat-card-image src="assets/images/logo.png" class="image" alt="logo" />
  <mat-card-header ngClass="container content">
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="container">
   
      <app-shared-form-field [formFields]="formFields.inputs" [value]="'Login'"></app-shared-form-field>
      <!-- <ng-template [ngIf]="input.type == 'email'">
        <app-shared-form-field [input]="input"></app-shared-form-field>
      </ng-template> -->

  </mat-card-content>
  <mat-card-actions ngClass="container">
    <!-- <button mat-flat-button class="btn-blue" (click)="login()">Login</button> -->
    <p>Not registered yet? Register <a [routerLink]="['/register']">here</a></p>
  </mat-card-actions>
</mat-card>
