<mat-card class="example-card">
    <img mat-card-image src="assets/images/logo.png" width="200px" height="auto" alt="logo">
    <mat-card-header>
      <mat-card-title>Insert your account data</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Account Nickname:</mat-label>
        <input matInput type="text" placeholder="Enter name">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Password:</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>         
    </mat-card-content>
    <mat-card-actions>
      <button mat-flat-button color="primary">Login</button>
      <p>Not registered yet? Register here</p>
    </mat-card-actions>
  </mat-card>