<mat-card class="card main-mat-card">
  <img mat-card-image src="assets/images/logo.png" class="image" alt="logo" />
  <mat-card-header ngClass="container content">
    <mat-card-title>{{ title }}</mat-card-title>
  </mat-card-header>
  <mat-card-content class="container">
    <app-shared-form-group [formFields]="formFields.inputs" [value]="'Login'"></app-shared-form-group>
  </mat-card-content>
  <mat-card-actions ngClass="container">
    <p>Not registered yet? Register <a [routerLink]="['/register']">here</a></p>
  </mat-card-actions>
</mat-card>
