<app-nav-bar></app-nav-bar>
<div>
  <h1 style="text-align: center">My Tourneys ({{tourneys.length}})</h1>
  <div class="row d-flex justify-content-center">
    <div
      class="container d-flex justify-content-center row gap-3"
      style="text-align: center"
    >
      <div class="card" style="width: 18rem" *ngFor="let tourney of tourneys; let i = index">
        <div class="card-body">
          <p class="card-text">
            {{ tourney.name }}
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item" style="font-weight: bold">
            Teams:

            <a style="font-weight: normal">{{ tourney.numberOfTeams }}</a>
          </li>
          <li class="list-group-item" style="font-weight: bold">
            Rank:

            <a style="font-weight: normal">{{ tourney.rank }}</a>
          </li>
          <li class="list-group-item" style="font-weight: bold">
            Date:

            <a style="font-weight: normal">{{ tourney.date }}</a>
          </li>
        </ul>
        <div class="card-body">
          <a href="{{clickEvent(tourney?.tournamentId)}}" class="card-link" *ngIf="tourney.state == 'finished'">View More</a>
          <a href="/manage-tourney" class="card-link" *ngIf="tourney.state == 'ingame'">Manage Brackets</a>
          <a href="" class="card-link" *ngIf="tourney.posted == false">Edit</a>
        </div>
      </div>
    </div>
  </div>
</div>
