<form [formGroup]="authForm" (ngSubmit)="submit()">
  <ng-container *ngFor="let input of formFields">
    <ng-container [ngSwitch]="input.type">

      <ng-template [ngSwitchCase]="'password'">
        <mat-form-field appearance="standard" ngClass="form-field">
          <mat-label>{{ input.label }}</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="{{ input.placeholder }}" 
            name="{{ input.name }}" formControlName="{{ input.name }}" required>
          <mat-icon matSuffix id="password" (click)="hide = !hide" [attr.aria-label]="'Hide password'" 
            [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="authForm.get(input.name)?.invalid">{{getErrorMessage(input.name)}}</mat-error>
        </mat-form-field>

        <!-- <mat-form-field *ngIf="router.url == '/register'" appearance="standard" ngClass="form-field">
          <mat-label>Confirm Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="Enter new password" name="new_password">
          <mat-icon matSuffix id="password" (click)="hide = !hide" [attr.aria-label]="'Hide password'" 
            [attr.aria-pressed]="hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-error *ngIf="authForm.get('new_password')?.invalid">{{getErrorMessage('new_password')}}</mat-error>
        </mat-form-field> -->
      </ng-template>

      <ng-template [ngSwitchCase]="'select'">
        <mat-form-field appearance="standard" ngClass="form-field">
          <mat-select [(ngModel)]="selected" required (selectionChange)="fieldOnChange(selected)">
            <mat-option *ngFor="let val of input.values" [value]="val">{{val}}</mat-option>
          </mat-select>
          <mat-label><mat-icon aria-hidden="false" aria-label="" matSuffix>
            {{ input.icon }}
            </mat-icon> {{ input.label }}</mat-label>
          </mat-form-field>
      </ng-template>

      <ng-template [ngSwitchDefault]>
        <mat-form-field appearance="standard" ngClass="form-field">
          <mat-label>{{ input.label }}</mat-label>
          <input matInput type="{{ input.type }}" placeholder="{{ input.placeholder }}" name="{{ input.name }}" 
            formControlName="{{ input.name }}" required/>
          <mat-icon aria-hidden="false" aria-label="" matSuffix>{{ input.icon }}</mat-icon>
          <mat-error *ngIf="authForm.get(input.name)?.invalid">{{getErrorMessage(input.name)}}</mat-error>
        </mat-form-field>
      </ng-template>

    </ng-container>
  </ng-container>
  <div>
    <button mat-flat-button class="btn-blue" type="submit">{{value}}</button>
  </div>
</form>