<form [formGroup]="authForm" (ngSubmit)="onSubmit()">
  <ng-container [ngSwitch]="input.type">
    <ng-template [ngSwitchCase]="'password'">
      <ng-container *ngFor="let password of passwordFields.inputs">
        <div formGroupName="pass">
          <mat-form-field appearance="fill" ngClass="form-field">
            <mat-label>{{ password.label }}</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              placeholder="{{ password.placeholder }}"
              name="{{ password.name }}"
              formControlName="{{ password.name }}"
              required
            />
            <mat-icon
              matSuffix
              id="password"
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
              >{{ hide ? "visibility_off" : "visibility" }}</mat-icon
            >
            <mat-error *ngIf="authForm.get(password.name)?.invalid">{{
              getErrorMessage(password.name)
            }}</mat-error>
          </mat-form-field>
        </div>
      </ng-container>
    </ng-template>

    <ng-template ngSwitchDefault>
      <mat-form-field appearance="fill" ngClass="form-field">
        <mat-label>{{ input.label }}</mat-label>
        <input
          matInput
          type="{{ input.type }}"
          placeholder="{{ input.placeholder }}"
          name="{{ input.name }}"
          formControlName="{{ input.name }}"
          required
        />
        <mat-icon aria-hidden="false" inline="true" matSuffix style="width: auto; height: auto">{{
          input.icon
        }}</mat-icon>
        <mat-error *ngIf="authForm.get(input.name)?.invalid">{{
          getErrorMessage(input.name)
        }}</mat-error>
      </mat-form-field>
    </ng-template>
  </ng-container>
  <div>
    <button mat-flat-button class="btn-blue" type="submit">{{ value }}</button>
  </div>
</form>
