<app-nav-bar></app-nav-bar>
<section>
  <div id="box">
    <div class="content">
      <img
        src="{{ createImgPath(tourney.poster!) }}"
        class="poster"
        alt="poster"
      />
    </div>
    <div class="content">
      <div>
        <h3>{{ tourney.name }}</h3>
        <p>{{ tourney.description }}</p>
        <div class="status">
          <div class="round-icon {{ getColor(tourney.state!) }}"></div>
          <p>{{ getState(tourney.state!) }}</p>
        </div>
        <p>{{ "- Date: " + tourney.date }}</p>
        <p>{{ "- Max Teams: " + tourney.maxTeams }}</p>
        <p>{{ "- Minimum Tier: " + tourney.rank }}</p>
        <p>{{ "- Prize: " + tourney.prize }}</p>
        <button
          mat-flat-button
          color="primary"
          type="button"
          [routerLink]="'/view-all-tourneys'"
        >
          Back
        </button>
      </div>
    </div>
  </div>
</section>
