<app-nav-bar></app-nav-bar>
<ng-container *ngIf="team != undefined">
  <header>
    <h1>My Team</h1>
  </header>
  <section class="parallax-team">
    <img
      *ngIf="team?.poster != undefined"
      ngSrc="{{ createImgPath(team.poster!) }}"
      alt="poster"
      class="bg"
      fill
    />
    <div class="{{ getClass() }}">
      <div>
        <h1>{{ team.name + " #" + team.tag }}</h1>
        <p>{{ team.numberMembers + " member(s)" }}</p>
        <button mat-flat-button type="button" [routerLink]="'/view-my-team'">
          View more
        </button>
      </div>
    </div>
  </section>
</ng-container>
<section class="all-teams">
  <h1>All Teams</h1>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search Here" />
  </div>

  <ng-container *ngIf="getTeamSize() == 0">
    <p>Currently there are no teams</p>
  </ng-container>
  <ng-container *ngIf="getTeamSize() != 0">
    <section class="flex-container">
      <!-- <ng-container class="team-content" *ngFor="let team of teams | filter : searchText"> -->
      <ng-container class="team-content" *ngFor="let team of teams">
        <ng-container>
          <div class="star-icon">
            <figure>
              <div class="item">
                <img
                  ngSrc="{{ createImgPath(team?.poster!) }}"
                  alt="team-poster"
                  fill
                />
                <img ngSrc="{{ getRank(team?.rank!) }}" class="icon" alt="icon" width="512" height="585" />
              </div>
              <figcaption>{{ team.name + " #" + team.tag }}</figcaption>
              <figcaption>{{ team.numberMembers + " member(s)" }}</figcaption>
            </figure>
          </div>
        </ng-container>
      </ng-container>
    </section>
  </ng-container>
</section>
