<app-nav-bar></app-nav-bar>
@if (team != undefined) {
  <header>
    <h1>My Team</h1>
  </header>
  <section class="parallax-team">
    @if (team.poster !== undefined) {
      <img ngSrc="{{ createImgPath(team.poster!) }}" alt="poster" class="bg" fill />
    }
    <div class="{{ getClass() }}">
      <div>
        <h1>{{ team.name + ' #' + team.tag }}</h1>
        <p>{{ team.numberMembers + ' member(s)' }}</p>
        <button mat-flat-button type="button" [routerLink]="'/view-my-team'">View more</button>
      </div>
    </div>
  </section>
}
<section class="all-teams">
  <h1>All Teams</h1>

  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search Here" />
  </div>

  @if (getTeamSize() == 0) {
    <p>Currently there are no teams</p>
  } @else {
    <section class="flex-container">
      @for (team of teams; track team.teamId; let idx = $index) {
        <ng-container class="team-content">
          <div class="star-icon">
            <figure>
              <div class="item">
                <img ngSrc="{{ createImgPath(team?.poster!) }}" alt="team-poster" fill />
                <img
                  ngSrc="{{ getRank(team?.rank!) }}"
                  class="icon"
                  alt="icon"
                  width="512"
                  height="585"
                />
              </div>
              <figcaption>{{ team.name + ' #' + team.tag }}</figcaption>
              <figcaption>{{ team.numberMembers + ' member(s)' }}</figcaption>
            </figure>
          </div>
        </ng-container>
      }
    </section>
  }
</section>
